.benefits {
	background-color: var(--bg-color-second);
}

.benefits__list {
	counter-reset: section;
	background-color: var(--bg-color-primary);
}

.benefits__item {
	--items: 1;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.43;
	&::before {
		margin-bottom: 10px;
		line-height: 1.65;
		color: var(--brand-color);
		counter-increment: section;
		content: "\268A 0"counter(section);
	}
}
