.body-fixed {
	overflow: hidden;
}

.backdrop {
	display: flex;
	position: fixed;
	overflow-y: scroll;
	padding: 5px;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	transition: transform 500ms ease, opacity 500ms ease, visibility 500ms ease;
	@include mq(mobile-only) {
		background-color: rgba(256, 256, 256, 0.5);
	}
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	& .modal {
		transform: scale(1.7);
	}
}

.modal {
	position: relative;
	margin: auto;
	padding: 40px;
	max-width: 450px;
	min-height: 609px;
	background-color: var(--bg-color-primary);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 500ms ease;
	@include mq(mobile-only) {
		overflow-y: scroll;
	}
	@include mq(desktop) {
		max-width: 528px;
		max-height: 650px;
	}

	&__close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		background-color: var(--bg-color-primary);
		border-radius: 50%;
		border: 1px solid rgba(0, 0, 0, 0.1);

		transition: var(--animation);
		&:hover .modal__icon,
		&:focus .modal__icon {
			fill: var(--brand-color);
		}
	}
	&__icon {
		display: inline-block;
		fill: var(--third-text-color);
		transition: var(--animation);
	}
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
	fill: var(--brand-color);
}
