.reviews__container {
	padding-top: 25px;
	padding-bottom: 25px;
	@include mq(desktop) {
		padding-top: 65px;
		padding-bottom: 65px;
	}
}
.reviews__title {
	margin-bottom: 24px;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	@include mq(tablet) {
		margin-bottom: 30px;
		font-size: 26px;
	}
	@include mq(desktop) {
		margin-bottom: 50px;
		font-size: 46px;
	}
}
.reviews-group {
	@include mq(tablet) {
		box-shadow: var(--box-shadow);
		@include mq(desktop) {
			width: 1090px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	& .slick-arrow {
		position: absolute;
		z-index: 1;
		width: 40px;
		height: 30px;
		background-image: url(../images/reviews/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		font-size: 0;
	}
	& .slick-prev {
		transform: rotate(180deg);
		left: 10px;
		bottom: -80px;
		@include mq(tablet) {
			top: 50%;
			left: 0;
		}
		@include mq(desktop) {
			left: -40px;
		}
	}
	& .slick-next {
		right: 10px;
		bottom: -80px;
		@include mq(tablet) {
			top: 50%;
			right: 0;
		}
		@include mq(desktop) {
			right: -40px;
		}
	}
}

.reviews-group__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mq(tablet) {
		flex-direction: row;
		padding: 40px;
	}
	@include mq(desktop) {
		padding: 50px 112px 50px 80px;
	}
}
.reviews-group__img {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	width: 90px;

	@include mq(tablet) {
		flex-shrink: 0;
		margin-right: 46px;
		width: 150px;
	}
}
.reviews-group__picture-logo {
	width: 40px;
	height: 40px;
	margin-top: 20px;
}

.reviews-group__text {
	@include mq(mobile-only) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.reviews-group__title {
	text-align: center;
	margin-bottom: 16px;
	font-weight: 800;
	font-size: 14px;
	line-height: 1.21;
	color: var(--brand-color);
	@include mq(tablet) {
		text-align: start;
		margin-bottom: 10px;
		font-size: 24px;
	}
	@include mq(desktop) {
		font-size: 30px;
	}
}
.reviews-group__subtitle {
	text-align: center;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.25;
	color: var(--primay-text-color);
	@include mq(tablet) {
		text-align: start;
	}
	@include mq(desktop) {
		width: 485px;
		font-size: 14px;
	}
}
.reviews-group__article {
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.67;
	color: var(--third-text-color);
	&-link {
		color: var(--brand-color);
	}
	@include mq(tablet) {
		text-align: start;
	}
	@include mq(desktop) {
		font-size: 18px;
	}
}

.revievs-nav {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	// width: 300px;
	& .slick-list {
		@include mq(mobile-only) {
			width: 200px;
		}
	}
}
.revievs-nav__item {
	border: 3px solid transparent;
	border-radius: 50%;
	box-sizing: border-box;

	&:not(:last-child) {
		margin-right: 10px;
		@include mq(mobile-only) {
			margin-right: 20px;
		}
	}
	&.slick-current {
		border: 3px solid var(--brand-color);
		border-radius: 50%;
		box-sizing: border-box;
	}
	&.slick-active {
		margin-left: 10px;
		margin-right: 10px;
	}
}
